body {
  font-size: 16px;
  color: #fff;
  background-color: #61122F;
  font-family: 'Oxygen', sans-serif;
}

#nav{
	background-color: #1e0000;
	min-height: 60px;
}

#title-brand{
	font-size: 1.5em;
}

#main-title{
	font-size: 1.5em;
	margin-bottom: 30px;
}

.card{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 6px 12px 12px 12px;
	border-radius: 3px;
	border: 1px solid #ddd;
	font-size: 1em;
}

.card-header{
	font-weight: bold;
	padding: 3px;
	margin-bottom: 10px;
	font-size: 1.2em;
}


#item-menu-1{
	background-color: #81000c;
}

#item-menu-2{
	background-color: blue;
}

#item-menu-3{
	background-color: green;
}

#bs-example-navbar-collapse-1 li{
	background-color: #5d001e;
	margin-right: 6px;
	margin-left: 6px;
}

@media (max-width: 767px) {
	.container{
		margin-left: 30px;
		margin-right: 30px;
	}
}